{% extends 'base.html' %}

{% load widget_tweaks %}

{% block body %}
<br><br><br><br>

{% if validlink %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
<h3>Change password</h3><hr><br>
    </div>
</div>
<div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
    {% endfor %}

{% for field in form.visible_fields %}
    <div class="form-group">
            {% if field.help_text %}
        <small class="form-text text-muted">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</small>
    {% endif %}

    {{ field.label_tag }}
        {% render_field field class="form-control" %}
    </div>
{% endfor %}
<div class="row">
    <div class="col-sm-8"><button class="btn btn-success my-2 my-sm-0" >Change Password</button></div>
</div>
</form>
</div>
{% else %}
<p>
  The password reset link was invalid, possibly because it has already been used.
  Please request a new password reset.
</p>
{% endif %}

{% endblock %}