{% extends 'base.html' %}

{% block body %}
<br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
<h4>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
</h4><br>
  <h4>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </h4>
</div></div>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <br>
      <a href="{% url 'homepage' %}" class="btn btn-outline-info">Thanks!</a>
  </div>
</div>
</div>
  {% endblock %}