<div class="">
    
    <li><a href="">{{ comment.author }}</a>
        -
        {{ comment.message |safe }} - {% if comment.parent %} -My id -{{comment.id}}{% else %}None{% endif %}
        <br>
        <form method='POST' id="comment-form">
            {% csrf_token %}
            <input type="text" name="parent" id="id_parent" value="{{comment.id}}">
            <label for="id_message">Message:</label>
            <input type="text" name="message" id="id_message">
            <button id="ajaxbut">Submit by ajax</button>
            <button type='submit'>Submit</button>
        </form>
</li>

    {% if comment.replies %}
        {% for comment in comment.replies.all %}
        <div style="margin-left:15px"> {% include 'tuesday/comment.html' %} </div>
        {% endfor %}
    {% endif %}
</div>


<script>

    $('#ajaxbut').onClick(function(){
        $.ajax({
            type:"POST",
            url:"{% url 'tuesday' %}",
            data:{"message":$("#id_message").val(), "parent":$("#id_parent").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                $("#id_message").val("");
                $(".comment ul").prepend(data);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
    
            }
    
        });
        return false;
    });
</script>