{% extends 'base.html' %}

{% block body %}

<section class="cid-qOrjrWV7nk mbr-fullscreen mbr-parallax-background" id="header2-o">
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">iBlog is a free place to share thoughts</h1>
                
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="{% if user.is_authenticated  %}{% url 'newpost' %}{% else %}{% url 'signin' %}{% endif %}">WRITE BLOG</a>
                    <a class="btn btn-md btn-white-outline display-4" href="{% url 'homepage' %}">READ BLOG</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="cid-qOrknD3Gce" id="image2-p">
    <figure class="mbr-figure" id="next">
        <div class="image-block" style="width: 100%;" >
            {% load static %}
            <img src="{% static 'assets/images/hdh5t8f-1-1680x1050.png' %}" alt="BACKGROUND IMAGE" title="">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
                <div class="container pb-5 mbr-white align-center mbr-fonts-style display-2">Together we are making an awesome place for writers and readers to gather at one place where they can unite and and share their thoughts, ideas, views about anything in a free and appropriate manner.<br><br><br></div>
            </figcaption>
        </div>
    </figure>
</section>

<section class="features8 cid-qOrlRh3Igc mbr-parallax-background" id="features8-q">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">

            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbri-desktop mbr-iconfont"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        Unlimited Sites
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbri-touch mbr-iconfont"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        Mobile Friendly
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbri-responsive mbr-iconfont"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        Unique Styles
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries                    </p>
                    
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features12 cid-qOrmAdYZAo" id="features12-r">    

    <div class="container">
        <h2 class="mbr-section-title pb-2 mbr-fonts-style display-2">
            Use Image to enhance content. 
        </h2>
        <h3 class="mbr-section-subtitle pb-3 mbr-fonts-style display-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.
        </h3>

        <div class="media-container-row pt-5">
            <div class="block-content align-right">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                             <span class="mbri-upload mbr-iconfont"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Read Anywhere                     
                            </h4>
                        </div>
                    </div>                

                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            Publish your website to a local drive, FTP or host on Amazon S3, Google Cloud, Github Pages. Don't be a hostage to just one platform or service provider.
                        </p>
                    </div>
                </div>

                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbri-drag-n-drop2 mbr-iconfont"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Easy and Simple to Use
                            </h4>
                        </div>
                    </div>
                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            Just drop the blocks into the page, edit content inline and publish - no technical skills required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mbr-figure" style="width: 50%;">
                
                <img src="{% static 'assets/images/06.jpg' %}" alt="Mobirise">
            </div>

            <div class="block-content align-left  ">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                             <span class="mbri-features mbr-iconfont"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Over 400 Amazing Articles</h4>
                        </div>
                    </div>                

                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            Mobirise offers several themes that include sliders, galleries, article blocks, counters, accordions, video and many more.
                        </p>
                    </div>
                </div>

                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbri-sites mbr-iconfont"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Unlimited Access
                            </h4>
                        </div>
                    </div>
                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            Mobirise gives you the freedom to develop as many websites as you like given the fact that it is a desktop app.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counters1 counters cid-qOrmOJ9ak7" id="counters1-s">

    

    

    <div class="container">
        
        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Our Stats -</h3>

        <div class="container pt-4 mt-2">
            <div class="media-container-row">
                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbri-mobirise mbr-iconfont"></span>
                        </div>

                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                  1330
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Total Writes</h4>
                            
                        </div>
                    </div>
                </div>


                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbri-touch-swipe mbr-iconfont"></span>
                        </div>
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                  20000
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Total Aritcles</h4>
                            
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbri-responsive mbr-iconfont"></span>
                        </div>
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">94000
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Authorized Readers</h4>
                            
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
   </div>
</section>

<section class="mbr-section form3 cid-qOrnqsCs6u" id="form3-t">

    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">
                    SUBSCRIBE FORM
                </h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    Subscribe to our Newsletter
                </h3>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                </div>
                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="MKkwM/tH7GBPBVgm3NJ2Y9EtDffYblN2oG5DuIxgXHUwy/n3LrQ9Ir8sYEFjQ5oO5jrlo2axTAki5XkW4/AEbILH5DpAPpUnvx7JmhADzCxcAfer/sxx0vb4NTR+dP5A" data-form-field="Email">
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="email" name="email" placeholder="Email" data-form-field="Email" required="" id="email-form3-t">
                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary  display-4">SUBSCRIBE</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="footer3 cid-qOrnwSQ8ny mbr-reveal" id="footer3-u">

    

    

    <div class="container">
        <div class="media-container-row content">
            <div class="col-md-2 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="https://mobirise.com/">
                        
                         <img src="{% static 'assets/images/logo2.png' %}" alt="Mobirise">
                    </a>
                </div>
                <p class="mbr-fonts-style foot-logo display-7">
                    BLOGVLOG - Made by - < href="https://www.instagram.com/frasm__" target="_blank">
                </p>
            </div>
           </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 Mohit - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/mohitjain2302" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/technomonk" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/frasm__" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  
</body>
</html>
{% endblock %}
