<a href="{% url 'homepage' %}">Homepage</a>
<br><hr>
<h2>{{ data1.title }}</h2>
<h4>{{ data1.author }}</h4>
<h5>{{ data1.text }}</h5>

<br>
<a href="{% url 'postdelete' data1.pk %}"><u>delete</u></a>
<br>
<h3>comments</h3>
<form method="POST">
{% csrf_token %}

{{ form1 }}

<button type="submit">submit</button>

</form>
<br>
<hr>
<br>


{% for comments in com %}
<p>{{ comments.user }} ---
{{ comments.message }}&nbsp;&nbsp;{% if comments.user == request.user %}<a href="{% url 'commentdelete' comments.pk %}">delete</a>{% endif %}
<br>
<form method='POST'>
    {% csrf_token %}

    <label for="id_whichcomment">whichcomment</label>
    <input type="hidden" name='whichcomment' id='id_whichcomment' value="{{comments.id}}">
    &nbsp;
    <label for="id_message">Message:</label>
    <input type="text" name='message' maxlength="250" id="id_message">

    <button type="button" id="ajaxbutton">ajax submit</button>
    
    <button type="submit">submit</button>
</form>
<ul>
{% for r in replycom %}


{% if r.whichcomment.message == comments.message %}

<li><blockquote>{{r.user }} -- {{ r.message }}&nbsp;&nbsp;{% if r.user == request.user %}<a href="{% url 'commentreplydelete' r.pk %}">delete</a>{% endif %}</blockquote></li>

{% endif %}

{% endfor %}
</ul></p>

<br>
{% endfor %}





















<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

<script>
    $("#ajaxbutton").click(function (){
        $ajax({
            type: "POST",
            url: "{% url 'postdetaill' data1.id %}",
            data: {"message":$("#id_message").val(), "whichcomment": $("#id_whichcomment").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                $("#id_message").val("update");
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        });
        return false;
    });
</script>